<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [2]:
import pandas as pd

Load the dataset into a dataframe.

In [12]:
data = pd.read_csv("m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [13]:
# your code goes here
data.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [16]:
# your code goes here
data.drop_duplicates(inplace = True)

Verify if duplicates were actually dropped.

In [18]:
data.duplicated().any()

False

In [17]:
# your code goes here
data.duplicated().sum()

0

In [19]:
data.duplicated().value_counts()

False    11398
dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [25]:
# your code goes here
len(data.columns[data.isnull().any()])

73

Find out how many rows are missing in the column 'WorkLoc'

In [28]:
# your code goes here
data['WorkLoc'].isna().any()
data['WorkLoc'].isna().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [29]:
# your code goes here
data['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [32]:
#make a note of the majority value here, for future reference
#
data['WorkLoc'].value_counts().max()

6806

In [33]:
data['WorkLoc'].value_counts().idxmax()

'Office'

In [34]:
data['WorkLoc'][data['WorkLoc'].value_counts().max()]

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [35]:
# your code goes here
data['WorkLoc'].fillna('Office', inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [40]:
# your code goes here
data['WorkLoc'].isna().any()

False

In [41]:
data['WorkLoc'].isna().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [44]:
data.CompFreq.value_counts().index

Index(['Yearly', 'Monthly', 'Weekly'], dtype='object')

In [42]:
# your code goes here
data['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [47]:
# your code goes here
data['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

In [46]:
data['CompTotal']

0         61000.0
1        138000.0
2         90000.0
3         29000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         NaN
Name: CompTotal, Length: 11398, dtype: float64

In [50]:
annalComp = []
for x, y in zip(data['CompFreq'], data['CompTotal']):
    if x == 'Monthly':
        annalComp.append(y * 30)
    elif x == 'Weekly': 
        annalComp.append(y * 4 * 12)
    elif x == 'Yearly':
        annalComp.append(y * 12)
    else:
        annalComp.append(0)    
        
data['NormalizedAnnualCompensation'] = annalComp
data[['NormalizedAnnualCompensation']]

       NormalizedAnnualCompensation
0                          732000.0
1                         1656000.0
2                         1080000.0
3                          870000.0
4                         1080000.0
...                             ...
11547                     1560000.0
11548                      892800.0
11549                     1260000.0
11550                      960000.0
11551                           0.0

[11398 rows x 1 columns]

In [52]:
data.to_csv('M2.csv')

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).